body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #ECF6F8;
}

/* Inscription.php */

.menucntr{
    width: 100%;
    display: flex;
    justify-content: center;
}


header {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 100px;
    margin-top: 20px;
    height: 34px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    z-index: 9999;
}

.logoimg {
    width: 146px;
    height: 45px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
   
}


.divA a{
    display: flex;
    align-items: center;
}

nav {
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}

/* Titre */
.partctnr {
    background-color: #E7A70F;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    width: 350px;
    height: 60px;
    align-items: center;
    letter-spacing: -4px;
    margin-top: 7%;
}

.parttitre {
    font-family: 'Faster One', sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
}



.general {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* FIN Titre */



/* Form */
form {
    max-width: 400px;
    margin: 4% auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #428bca;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

/* Administration */
.admincntr {
    margin-top: 20px;
    text-align: center;
}

.administration {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #0056b3; 
    color: white; 
    text-decoration: none; 
    font-family: 'Arial', sans-serif;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.administration:hover, .administration:focus {
    background-color: #003d82;
    color: #ffffff; 
    text-decoration: none; 
    outline: none; 
}

/* FIN Administration */


#tribune_field,
#horaire_field {
    margin-top: 16px;
}

/* FIN Inscription.php */

/* Admin_login*/


.partctnr2 {
    background-color: #E7A70F;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    width: 350px;
    height: 60px;
    align-items: center;
    letter-spacing: -4px;
    margin-top: 2%;
}

.parttitre2 {
    font-family: 'Faster One', sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
}



.general2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}



/* FIN Admin_login*/

/* Admin_panel.php*/




.general3 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.partctnr3 {
    background-color: #E7A70F;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    width: 650px;
    height: 60px;
    align-items: center;
    letter-spacing: -4px;
    margin-top: 2%;
}

.parttitre3 {
    font-family: 'Faster One', sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
}

.divglobal{
    margin: 2%;
}




.tableadmin a {
    text-decoration: none;
    color: #007bff;
}

.tableadmin a:hover {
    text-decoration: underline;
}

h2.liste {
    color: #333;

}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
    margin-bottom: 2%;

}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e1e1e1;
}

td a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
}

td a:hover {
    color: #007bff;
}



/* FIN Admin_panel.php*/

/* Modifier_membre.php*/


.divheader{
    width: 100%;
    display: flex;
    justify-content: center;
}

.general4 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.partctnr4 {
    background-color: #E7A70F;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    width: 650px;
    height: 60px;
    align-items: center;
    letter-spacing: -4px;
    margin-top: 8%;
}

.parttitre4 {
    font-family: 'Faster One', sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
}




.modifier form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 3%;
}

.modifier label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.modifier input[type="text"],
.modifier input[type="email"],
.modifier select,
.modifier input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modifier select {
    height: 38px; /* Adjust the height as needed */
}

.modifier input[type="submit"] {
    background-color: #428bca;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modifier input[type="submit"]:hover {
    background-color:#003d82;
}



/* FIN Modifier_membre.php*/


/* confirmation.php*/



.divConf h1 {
    text-align: center;
    color: #333;

}

.divConf p {
    text-align: center;
}

.divConf a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
}

.divConf a:hover {
    color: #010a6f;
}


/* FIN confirmation.php*/