
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section*/

/* header*/


.acceuil {
    background-color: #212222;
    height: 952px;
    width: 100%;
    display: flex; 
    justify-content: center;
    background-image: url('image/workshow.png'); 
    background-size: cover;
    background-position: center;  
    position: relative;
    box-shadow: 0px 10px 30px #212222;
    z-index: 10;  
}


header {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 100px;
    margin-top: 20px;
    height: 34px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    position:fixed;
    z-index: 9999;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.5);
}




.logoimg {
    width: 113px;
    height: 42px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

}

nav {
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}




h1 {
    position: absolute;
    margin-top: 20%;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 50;
    width: 645px;
    text-align: center;
    

}


.h2 {
    width: 926px;
    color: rgba(255,255,255,1);
    margin-top: 25%;
    position: absolute;
    font-family: Faster One;
    font-weight: Regular;
    font-size: 190px;
    opacity: 1;

  }



.eclair1 {
    width: 289.12px; 
    height: 144.28px;
    margin-top: 21%;
    margin-right: 40%;
    transform: rotate(25deg);

}

.eclair2 {
    width: 144.28px; 
    height: 289.12px;
    margin-top: 26%;
    margin-right: 10%;

}




/* FIN header*/

/* FIN Section*/

/* QUOI*/

.quoi{
    height: 1000px;
    background-color: #ECF6F8;
    background-size: cover;
    align-items: center;

}

.quoidiv{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.quoictnr{
    background-color: #E7A70F;
    border-radius: 90px;
    display: flex;
    justify-content:center;
    width: 400px;
    height: 80px;
    align-items: center;
}

.quoititre{
    font-family: Faster One;
    color:#ffffff;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -3px;
}



.outer-rectangle {
    width: 600px; 
    height: 600px; 
    background-color: #E7A70F;
    display: block;
    margin: 100px auto;
    border-radius: 39px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, 
    rgba(50, 50, 50, 0.3) 10px 10px, 
    rgba(100, 100, 100, 0.2) 15px 15px, 
    rgba(150, 150, 150, 0.1) 20px 20px, 
    rgba(200, 200, 200, 0.05) 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, 
    rgba(50, 50, 50, 0.3) 10px 10px, 
    rgba(100, 100, 100, 0.2) 15px 15px, 
    rgba(150, 150, 150, 0.1) 20px 20px, 
    rgba(200, 200, 200, 0.05) 25px 25px;

}


.inner-rectangle {
    width: 500px; 
    height: 300px;
    background-color:#212222;
    border-radius: 39px;
    margin-top: 7%;

}


.inner-text {
    text-align: center;
    padding: 20px;
    color: white;

}

.inner-title {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 25px;
    font-weight: 400;
}


.outer-text {
    text-align: center;
    width: 100%;
    padding: 10px;
    color: white;
    width: 500px;
    margin-top: 4%;
}

/* FIN QUOI*/



  
 
  



/*QUI*/

.qui{
    background: #ECF6F8;

}


.quidiv{
    display: flex;
    justify-content: center;
}

.quictnr{
    background-color: #E7A70F;
    border-radius: 90px;
    display: flex;
    justify-content:center;
    width: 400px;
    height: 80px;
    align-items: center;
    position: absolute;
    margin-top: 3%;
}

.quititre{
    font-family: Faster One;
    color:#ffffff;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -3px;
    
}



/* Carte MMX*/



.parent2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    background: #ECF6F8;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 7%;
    margin-bottom: 7%;


    }

.parent2 h3 {
    padding: 1.3em 3em;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #000;
}


    .containercard{
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }
   


.card {
    position: relative;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    
}

.card svg {
    width: 100%; 
    height: auto; 
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #212222;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
}

.card:hover svg {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.4;
}


/* FIN carte*/

/* FIN QUI*/



/*LIEU DATE*/

.lieudate{
    margin-bottom: 6%;
    display: flex;
    justify-content:center;
    background-color:#ECF6F8;
}


/*LIEU*/

.lieu {
    width: 477px;
    height: 521px;
    position: relative;
    margin-right: 20%;
   
}

.image-lieu:hover {
    transform: scale(1.02);
   
}

.blue-background {
    width: 477px;
    height: 521px;
    left: 0px;
    top: 0px;
    background: #212222;
    border-radius: 50px;
    justify-content: center;
}

.image-lieu {
    margin-left: 6%;
    margin-top: 5%;
    height: 398px;
    left: 25px;
    top: 21px;
    border-radius: 39px;
    transition: 500ms;

}

.address {
    margin-top: 3%;
    width: 477px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.venue {
    width: 477px;
    height: 41px;
    left: 0px;
    top: 426px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
}

/* FIN LIEU*/

  /*DATE*/


.date {
    width: 477px;
    height: 521px;
    position: relative;
  }

  .eclairdate {
    position: absolute;
    transform: rotate(90deg);
    margin-bottom: 57vh;
    margin-left: 23vw;
    width: 8vw;
    height: auto;
}
  
  .blue-background2 {
    width: 477px;
    height: 521px;
    left: 0px;
    top: 0px;
    
    background: #212222;
    border-radius: 50px;
  }
  
  .content2 {
    width: 343px;
    height: 227px;
    left: 67px;
    top: 147px;
    position: absolute;
  }
  
  .content2 span {
    color: white;
    font-size: 24px;
    font-family: Inter;
    font-weight: 300;
    word-wrap: break-word;
  }
  
  .date-titre {
    margin-top: 5%;
    text-align: center;
    color:#ffffff;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    font-style: bold;
  }
  
  /* FIN DATE*/


  /*FIN LIEU DATE*/


/*participer*/

.participer{
    height: 903px;
    width: 100%;
    background-color: #212222;
}



.partctnr{
    background-color: #E7A70F;
    border-radius: 90px;
    display: flex;
    justify-content:center;
    width: 350px;
    height: 60px;
    align-items: center;
    position: absolute;
    margin-left: 10%;
    margin-top: 4%;
    letter-spacing: -4px;
}

.parttitre{
    font-family: Faster One;
    color:#ffffff;
    font-size: 40px;
        font-weight: 400;
}

.midle{
    display: flex;
    width: 100%;
    height: 903px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}



.venir{
    width: 481.2px;
    height: 465px;
    border-radius: 39px;
    background: #FCC00E;
    margin-left: 10%;
    text-align: center;
}

h3.titrevenir{
    font-size: 29px;
}


.venirtxt{
    background: #212222;
    height: 300px;
    width: 350px;
    border-radius: 49px;
    display: block;
    margin: 10% auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.venirtxt p{
    color: #ffff;
    width: 300px;



}

.tuas{
    width: 481.2px;
    height: 465px;
    border-radius: 39px;
    background: #FCC00E;
    margin-right: 10%;
    text-align: center;

}



.reserverBTN {
    width: 160px;
    height: 62px;
    background: white;
    box-shadow: 4px 4px 0px black;
    border-radius: 100px;
    border: 3px #343435 solid;
    margin-top: 10%;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.reserverBTN a {
    font-size: 20px;
    font-family: Inter;
    font-weight: bold;
    text-decoration: none; 
    color: #212222;
}

.reserverBTN:hover {

    color: white; 
    transform: scale(1.1); 
}







/*FIN participer*/



  /* form*/

  .formulaire{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cont-form {
    width: 70%;
    height: 500px;
    background-color: #212222;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 5%;
  }

  .aide {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 750;
  }

  h3.contactez {
    color: #212222;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }

  form {
    width: 100%; 
    max-width: 93%; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
  }

  label {
    display: block;
    margin-bottom: 20px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%; /* Change the width to 100% */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    border: none;
    background-color: #F5F5FF;
  }

  input[type="submit"] {
    background-color: #212222;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    
  }

  input[type="submit"]:hover {
    background-color: #455fa0;
  }


    #nom {
        height: 50px;
    }
    #email {
        height: 50px;
    }

    #message {
        height: 100px;
    }

    .eclairform {
        position: absolute;
        transform: rotate(90deg);
        margin-bottom: 50vh; 
        margin-left: 66vw; 
        width: 10vw; 
        height: auto;
    }
    

    /* fin form*/

/* FOOTER*/
.svgfooter{
    margin-top: 5%;
    margin-bottom: 0%;
    padding: 0;
    background-color: #212222;
    
}

.svgfooter svg{
    width: 100%;
    height: auto;
}

.footer {
    background-color: #212222;
    color: #ccc;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer h3{
    color: #ffff;
    font-size: 25px;
    margin: 0;
    padding: 0;
}



.footer a {
    color: white; 
    text-decoration: none; 
    margin: 0;
    padding: 0;
}


/* img logo */

.imgfoot{
    display: flex;
    align-items: center;

    margin-left: 45%;
    width: 25%;
    justify-content: space-between;

}

.logommi{
    width: 166px;
    height: 80px;


}


.logoiut{
    width: 163px;
    height: 82px;
}
/* FIN img logo */

/* contact */

.contact{
    margin-left: 2%;
}

.ulcontact{
    list-style: none;

}

.ulcontact img{
    width: 18px;
    height: 18px;
}

.ulcontact li{
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.ulcontact a{
    margin-left: 5%;
}



/* FIN Contact*/

/* reseaux */

.Reseaux{
    margin-left: 5%;
    margin-top: 1%;
}

.ulreseaux{
    list-style: none;

}


.ulreseaux img{
    width: 18px;
    height: 18px;
}

.ulreseaux li{
    display: flex;
    align-items: center;
    margin-top: 17%;
}

.ulreseaux a{
    margin-left: 10%;
}



.icons-social-media {
   display: flex;
   flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    width: 32px;
    cursor: pointer !important;
    transition: 300ms all ease-in-out;
    position: relative;
    fill: white;
  }
  
  .icons-social-media:hover {
    translate: -0px -10px;
  }
  
  #instagram,
      #youtube,#twitch {
    transition: 300ms all ease-in-out;
    clip-path: circle(65%);
    
  }
  
  #instagram:hover {
    background-color: rgb(221, 157, 189);
  }
  
  #youtube {
    height: 35px;
  }
  
  #youtube:hover {
    background-color: rgb(241, 96, 96);
  }
  
  #twitch:hover {
    background-color: rgb(196, 143, 245);
  }
/* FIN Reseaux*/



/* FIN FOOTER*/

























/* Présentation personnes */

/* Présentation personnes */




/* FIN Présentation personnes */